<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    {% block head_elements %}{% endblock %}

    <!--Google Analytics Code-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74747786-1', 'auto');
      ga('send', 'pageview');
    </script>


    <!--Bootstrap Files-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}/main.css"/>

</head>

<body>

    <div class="col-md-12 col-xs-12" style="height:0.3vh;" >
    </div>
    <!--Main Logo Div-->
    <div id="large_logo" class="col-md-12 col-xs-10 col-xs-offset-1 col-md-offset-0" align="center">
        <img src="{% get_static_prefix %}/Logo_Designs_Large.png" alt="LeaveCal Logo"/>
    </div>
    {% block content %}

    {% endblock %}
</body>

<footer>
    <div class="footer">
        <p align="center" class="text-muted">LeaveCal | 2016</p>
    </div>
    <script src="{% get_static_prefix %}/jquery.min.js"></script>

    <!--Bootstrap Javascript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}/favicon.ico"/>
    {% block scripts %}{% endblock %}
</footer>
