<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <script src="{% get_static_prefix %}/jquery.min.js"></script>

    <!--Bootstrap files-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--Moment Librarys-->
    <script src="{% get_static_prefix %}/moment.min.js"></script>


    <!--jQuery load progress-->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}/jquery-loader-style.css"/>
    <script src="{% get_static_prefix %}/jquery-loader.js"></script>

    <!--FormValidation files files-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
    <script src="{% get_static_prefix %}/formValidation.min.js"></script>

    <!--Other inputs files-->
    <script src="{% get_static_prefix %}/bootstrap.min.js"></script>
    <script src="{% get_static_prefix %}/Colour.js"></script>
    <script src="{% get_static_prefix %}/date.js"></script>

    <!--Main CSS file-->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}/main.css"/>

    <!--Favicon file-->
    <link rel="shortcut icon" type="image/png" href="{% get_static_prefix %}/favicon.ico"/>

    {% block head_elements %}{% endblock %}


    <!--Google Analytics Code-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74747786-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>

<!--Navigation-->
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="pull-left" id="nav_logo" href="/dashboard">
            {% load static %}
            <h3 align="center" id="logo_text">LeaveCal</h3>
            <img class="img-responsive"src="{% get_static_prefix %}/Logo_Designs_Small.png" alt="LeaveCal Logo"/>
         </a>
      </div>


      <!-- Mobile Nav Bar -->
      <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="{% block dashboard_active %}{% endblock %}"><a href="/dashboard"><h3>Dashboard</h3><span class="sr-only"></span></a></li>
                <li class="{% block calendar_active %}{% endblock %}"><a href="/calendar" ><h3>Calendar</h3><span class="sr-only"></span></a></li>
                <li class="{% block user_requests_active %}{% endblock %}"><a href="/userrequests" ><h3>Your Requests</h3><span class="sr-only"></span></a></li>
                <li class="{% block leave_requests_active %}{% endblock %}"><a href="/leaverequests" ><h3>Approve Leave</h3><span class="sr-only"></span></a></li>
                <li class="{% block team_requests_active %}{% endblock %}"><a href="/teamrequests" ><h3>Team Leave</h3><span class="sr-only"></span></a></li>
            </ul>

            <ul class="nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span style="font-size:1.5em;" class="glyphicon glyphicon-user"></span>
                        <p id="user_text">{% block username_to_display %}{% endblock %}</p>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/account/profile">Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/account/logout">Logout</a></li></ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
 </div>


<body>
    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>

   <!-- Modal To Submit Leave Request -->
    <div class="modal fade" id="requestLeaveModal" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Request Leave</h4>
          </div>
          <div class="modal-body">

                  <form id="eventForm" onsubmit="return false" class="form-horizontal" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-3 control-label">Leave Type</label>
                              <div class="col-md-5">
                                    <select class="form-control" id="leaveType" name="leaveType" required>
                                        <option>Annual Leave</option>
                                        <option>Sick Leave</option>
                                        <option>Parental Leave</option>
                                        <option>Compassionate Leave</option>
                                        <option>Leave in Lieu</option>
                                        <option>Other Leave</option>
                                    </select>
                              </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="start_date" class="col-md-3 control-label">Start Date</label>
                            <div class="col-md-5 date">
                                <div class="input-group input-append date" id="datePicker_1">
                                    <input id="start_date" type="text" class="form-control" name="start_date" placeholder="DD/MM/YYYY"/>
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="startDateStartTime" class="col-md-3 control-label">Start Time</label>
                             <div class="col-md-5">
                                 <select class="form-control" id="startDateStartTime" name="startDateStartTime">
                                    <option>Beginning of Day</option>
                                    <option>Lunchtime</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="end_date" class="col-md-3 control-label">End Date</label>
                            <div class="col-md-5 date">
                                <div class="input-group input-append date" id="datePicker_2">
                                    <input type="text" class="form-control" id="end_date" name="end_date" placeholder="DD/MM/YYYY"/>
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group has-feedback">
                            <label for="endDateEndTime" class="col-md-3 control-label">End Time</label>
                            <div class="col-md-5">
                                 <select class="form-control" id="endDateEndTime" name="endDateEndTime">
                                    <option>End of Day</option>
                                    <option>Lunchtime</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Reason</label>
                              <div class="col-md-5">
                                  <textarea class="form-control" rows="5" id="leaveReason" name="leaveReason"></textarea>
                              </div>
                        </div>

                         <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <div id="messages"/></div>
                            </div>
                         </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
                            <button type="submit" id="submitButton" class="btn btn-success" data_toggle="validator"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                        </div>
                </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal After submission un-successful-->
    <div class="modal fade" id="postSubmissionModalUnsuccessful" tabindex="-1" role="dialog" aria-labelledby="postSubmissionModalUnsuccessful">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="postSubmissionModalUnsuccessful">Leave Request Submission Unsuccessfull <span class="glyphicon glyphicon-remove"></h4>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-md-2">
                      <h4 = "ReasonLabel">
                          Reason:
                      </h4>
                </div>
                <div class="col-md-10">
                  <h3 id="ReasonValue">
                  </h3>
                </div>
              </div>
          </div>

          <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>


<!-- Modal After submission successful-->
    <div class="modal fade" id="postSubmissionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelPostSubmission">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalLabelPostSubmission">Leave Request Submitted <span class="glyphicon glyphicon-ok"></h4>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-3">
                    <h4 = "LeaveTypeLabel">
                        <b>Leave Type:</b>
                    </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="LeaveTypeValue">
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h4 id="startDateLabel">
                      <b>Start Date:</b>
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="startDateValue">
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h4 id="startTimeLabel">
                      <b>Start Time:</b>
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="startTimeValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h4 id="endDateLabel">
                      <b>End Date:</b>
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="endDateValue">
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h4 id="endTimeLabel">
                      <b>End Time:</b>
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="endTimeValue">
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <h4 id="leaveReasonLabel">
                      <b>Reason:</b>
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="leaveReasonValue">
                  </h4>
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Calendar Key Modal-->
    <div class="modal fade" id="calendarKey" tabindex="-1" role="dialog" aria-labelledby="calendarKeyLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="calendarKeyLabel">Calendar Key</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-5">
                  <h4 id="pendingLabel">
                      <h3>Pending Event: </h3>
                  </h4>
                </div>
                <div class="col-md-5">
                    <div class="rectangle-pending"></div>
                  <h4 id="pendingValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <h4 id="approvedLabel">
                      <h3>Approved Event: </h3>
                  </h4>
                </div>
                <div class="col-md-5">
                    <div class="rectangle-approved"></div>
                  <h4 id="approvedValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <h4 id="declinedLabel">
                      <h3>Declined Event: </h3>
                  </h4>
                </div>
                <div class="col-md-5">
                    <div class="rectangle-declined"></div>
                  <h4 id="declinedValue">
                  </h4>
                </div>
              </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
        </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Event details modal-->
    <div class="modal fade" id="eventDetailModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="eventDetailModalLabel">Event Details</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventLeaveTypeLabel">
                      Leave Type:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventLeaveTypeValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventStartDateLabel">
                      Start Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventStartDateValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventStartTimeLabel">
                      Start Time:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventStartTimeValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventEndDateLabel">
                      End Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventEndDateValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventEndTimeLabel">
                      End Time:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventEndTimeValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventReasonLabel">
                      Reason:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventReasonValue">
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventStatusLabel">
                      Status:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventStatusValue">
                  </h4>
                </div>
              </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
        </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Are you sure you wish to approve this request modal-->
    <div class="modal fade" id="confirmApprovalModal" tabindex="-1" role="dialog" aria-labelledby="confirmApprovalModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="confirmApprovalModalLabel">Are you sure you wish to <b>approve</b> this event?</h3>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                  <h4 id="eventUserNameLabelApprovedModal">
                      Name:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventUserNameValueApprovedModal">
                  </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <h4 id="eventStartDateLabelApprovedModal">
                      Start Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventStartDateValueApprovedModal">
                  </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <h4 id="eventEndDateLabelApprovedModal">
                      End Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventEndDateValueApprovedModal">
                  </h4>
                </div>
            </div>

            <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
                  <button type="submit" id="submitButtonConfirmApprovalModal" name="approved_button" onclick="setStatusOfLeave(this);" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Approve</button>
            </div>

        </div>
       </div>
      </div>
    </div>

    <!-- Are you sure you wish to Decline this request modal-->
    <div class="modal fade" id="confirmDeclineModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeclineModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="confirmDeclineModalLabel">Are you sure you wish to <b>decline</b> this event?</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventUserNameLabelDeclineModal">
                      Name:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventUserNameValueDeclineModal">
                  </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <h4 id="eventStartDateLabelDeclineModal">
                      Start Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventStartDateValueDeclineModal">
                  </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <h4 id="eventEndDateLabelDeclineModal">
                      End Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventEndDateValueDeclineModal">
                  </h4>
                </div>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
                  <button type="submit" id="submitButtonConfirmDeclineModal" name="declined_button" onclick="setStatusOfLeave(this);" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Decline</button>
            </div>
        </div>
       </div>
      </div>
    </div>

    <!-- Are you sure you wish to cancel this request modal-->
    <div class="modal fade" id="confirmCancelModal" tabindex="-1" role="dialog" aria-labelledby="confirmCancelModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="confirmCancelModalLabel">Are you sure you wish to <b>cancel</b> this event?</h3>
          </div>
          <div class="modal-body">
              <div class="row">
                <div class="col-md-3">
                  <h4 id="eventUserNameLabelCancelModal">
                      Leave Status:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventUserNameValueCancelModal">
                  </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <h4 id="eventStartDateLabelCancelModal">
                      Start Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventStartDateValueCancelModal">
                  </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <h4 id="eventEndDateLabelCancelModal">
                      End Date:
                  </h4>
                </div>
                <div class="col-md-5">
                  <h4 id="eventEndDateValueCancelModal">
                  </h4>
                </div>
            </div>

            <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Close</button>
                  <button type="submit" id="submitButtonConfirmCancelModal" name="cancel_button" onclick="setStatusOfLeave(this);" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Cancel</button>
            </div>
        </div>
       </div>
      </div>
    </div>
</body>

<footer>
    <div class="footer">
        <p align="center" class="text-muted">LeaveCal | 2016</p>
    </div>
    {% block scripts %}{% endblock %}
</footer>
