{% extends "email_notification_base.html" %}

{% block content %}

    <h2>Leave Request from {{ first_name }}{{" "}}{{ last_name }}</h2>

    <h4>Leave Type: </h4><h3 class="text-muted">{{ leave_type }}</h3>
    <h4>Start Date: </h4><h3 class="text-muted">{{ start_date }}</h3>
    <h4>Start Time: </h4><h3 class="text-muted">{{ start_time }}</h3>
    <h4>End Date: </h4><h3 class="text-muted">{{ end_date }}</h3>
    <h4>End Time: </h4><h3 class="text-muted">{{ end_time }}</h3>
    <h4>Reason: </h4><h3 class="text-muted">{{ reason }}</h3>

    <a class="btn btn-default" href="http://josephhoulton.pythonanywhere.com/leaverequests">Respond to this request</a>

{% endblock %}