<!DOCTYPE html>
{% extends "base_file.html" %}
{% block title %}LeaveCal - Current Requests{% endblock %}

{% block user_requests_active %}active{% endblock %}
{% block username_to_display %}{{ username }}{% endblock %}
{% block content %}

        <!--Title Div-->
        <div class="row">
            <div class="col-md-12">
                <h1 id="login_content" name="your_requests_title" align="center">YOUR REQUESTS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 id="login_content" name="request_leave_title" align="center">Your current Leave Requests are shown below</h3>
            </div>
        </div>

        <div class="row">
            <div class="container panel panel-default col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
                <div class="panel-group button-padding" align="right">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#requestLeaveModal">
                        Request Leave
                    </button>

                <!--Table for Personal Leave Requests-->

                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="personalRequestsTable">
                    <thead>
                      <tr>
                        <th><h3>Leave Type</h3></th>
                        <th><h3>Start Date</h3></th>
                        <th><h3>Start Time</h3></th>
                        <th><h3>End Date</h3></th>
                        <th><h3>End Time</h3></th>
                        <th><h3>Reason</h3></th>
                        <th><h3>Status</h3></th>
                        <th><h3>Cancel</h3></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>
        </div>

        <!--Post Cancellation leave modal-->
        <div class="modal fade" id="postLeaveCancellationModal" tabindex="-1" role="dialog" aria-labelledby="postLeaveCancellationModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabelPostCancellation">Leave Cancellation</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 id= "cancellationText">
                            Leave Request has been successfully cancelled
                        </h4>
                    </div>
                </div>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
            </div>
          </div>
        </div>

{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function() {
        getUserRequestsAjax();
		getValidators();
    });


    // Retrieve all leave requests for the user
    function getUserRequestsAjax(){

        $.ajax({
                type: "GET",
                url: "/userrequests/getuserrequests/",
                beforeSend: function(data){
                    $.loader.open();
                },
                success: function(data){

                   if(data.length == 0){

                        var table = document.getElementById("personalRequestsTable");

                        var row = table.insertRow(1);

                        var table_name = row.insertCell(0);

                        table_name.innerHTML = "You have no leave requests";

                    }else{
                        $.each(data, function(i, event_detail){

                            var start_date_test = "";
                            var end_date_test = "";
                            var all_day = "true";
                            var start_date_month = "";
                            var start_date_year = "";
                            var start_date_day = "";
                            var start_date_time;
                            var fullname;

                            var first_name = event_detail["first_name"];
                            var title = event_detail["title"];
                            var surname = event_detail["surname"];
                            var start_date = event_detail["start_date"];
                            var end_date = event_detail["end_date"];
                            var start_time = event_detail["start_time"];
                            var end_time = event_detail["end_time"];
                            var reason = event_detail["reason"];
                            var status = event_detail["status"];
                            var leave_id = event_detail["leave_id"];


                            start_date = new Date(start_date)
                            start_date = start_date.toString("dd/MM/yyyy");

                            end_date = new Date(end_date)
                            end_date = end_date.toString("dd/MM/yyyy");

                            var table = document.getElementById("personalRequestsTable");

                            var row = table.insertRow(i+1);

                            var table_title = row.insertCell(0);
                            var table_start_date = row.insertCell(1);
                            var table_start_time = row.insertCell(2);
                            var table_end_date = row.insertCell(3);
                            var table_end_time = row.insertCell(4);
                            var table_reason = row.insertCell(5);
                            var table_status = row.insertCell(6);
                            var table_response = row.insertCell(7);

                            table_title.innerHTML = title;
                            table_start_date.innerHTML = start_date;
                            table_start_time.innerHTML = start_time;
                            table_end_date.innerHTML = end_date;
                            table_end_time.innerHTML = end_time;
                            table_reason.innerHTML = reason;
                            table_status.innerHTML = status;

                            addFormElements(table_response, leave_id);

                        });
                    }
                },
                complete : function (){
                    $.loader.close();
                }
            });
    }

    // Add Cancel button for each element as a Form
    function addFormElements(table_response, leave_id){

                var approval_form = document.createElement("form");
                approval_form.setAttribute('onsubmit',"return false;");

                var cancelled_button = document.createElement("input");

                cancelled_button.setAttribute('type',"button");
                cancelled_button.setAttribute('id',("Cancel" + leave_id));
                cancelled_button.setAttribute('value',"Cancel");
                cancelled_button.setAttribute('class',"btn btn-danger");
                cancelled_button.setAttribute('name',"cancel_button");
                cancelled_button.setAttribute('leave_id',leave_id);
                cancelled_button.setAttribute('onClick',"setApprovalStatus(this);");

                var hidden_field = document.createElement("input"); //input element, text
                hidden_field.setAttribute('type',"hidden");
                hidden_field.setAttribute('name',"leave_id");
                hidden_field.setAttribute('value',leave_id);

                cancelled_button.appendChild(hidden_field);

                approval_form.appendChild(cancelled_button);
                approval_form.appendChild(hidden_field);

                table_response.appendChild(approval_form);
    }

    // Set approval status to Cancelled when the Cancel button has been pressed
    function setApprovalStatus(calling_element){

        var approved_name = "cancel_button"

        var current_leave_id = document.getElementById(calling_element.id).getAttribute("leave_id");
        var current_name = document.getElementById(calling_element.id).getAttribute("name");

        var statusOfLeaveForCurrentLeaveRequest = $(calling_element).closest('tr').children()[0].innerHTML;
        var startDateForCurrentLeaveRequest = $(calling_element).closest('tr').children()[1].innerHTML;
        var endDateForCurrentLeaveRequest = $(calling_element).closest('tr').children()[3].innerHTML;

        document.getElementById("eventUserNameValueCancelModal").innerHTML = statusOfLeaveForCurrentLeaveRequest;
        document.getElementById("eventStartDateValueCancelModal").innerHTML = startDateForCurrentLeaveRequest;
        document.getElementById("eventEndDateValueCancelModal").innerHTML = endDateForCurrentLeaveRequest;
        document.getElementById("submitButtonConfirmCancelModal").setAttribute('leave_id',current_leave_id);
        document.getElementById("submitButtonConfirmCancelModal").setAttribute('name',current_name);

        $('#confirmCancelModal').modal('show');

    }

    // Set cancelled status once the cancellation has been confirmed
    function setStatusOfLeave(calling_element){

        $('#confirmCancelModal').modal('hide');

        var current_leave_id = document.getElementById(calling_element.id).getAttribute("leave_id");
        var current_name = document.getElementById(calling_element.id).getAttribute("name");

        $.ajax({
                type: "POST",
                url: "/event/cancelled/",
                async: true,
                data: {
                    leave_id: current_leave_id,
                    name: current_name,
                },

                beforeSend: function(data){
                    $.loader.open();
                },

                success: function(data){
                    $('#postLeaveCancellationModal').modal('show');
                },

                failure: function(response, opts) {
                    console.log('server-side failure: ' + response);
                },
                complete : function(){
                    $('#personalRequestsTable tr:gt(0)').remove()
                    $.loader.close();
                    getUserRequestsAjax();
                }
        });

    }

    // Initialise validation for Leave Request Form
	function getValidators(){
	     $('#eventForm').formValidation({
            framework: 'bootstrap',
            button: {
                selector: '#submitButton',
            },
            container: '#messages',
            live: 'enabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                start_date: {
                    validators: {
                        notEmpty: {
                            message: 'The start date is required and cannot be empty'
                        },

                        date: {
                            format: 'DD/MM/YYYY',
                            message: 'The value is not a valid date',
                            max: 'end_date'
                        },

                    }
                },
                startDateStartTime: {
                    validators: {
                        notEmpty: {
                            message: 'The start time is required and cannot be empty'
                        },
                        callback: {
                            callback: function (value, validator, $field) {

                                var startDate = $("#start_date").val();
                                var endDate = $("#end_date").val();
                                var endDateTime = $("#endDateEndTime").val();
                                var startDateTime = $("#startDateStartTime").val();

                                startDate = new Date(startDate);
                                endDate = new Date(endDate);

                                if (startDate == endDate){
                                    if(endDateTime == "Lunchtime" && startDateTime == "Lunchtime"){
                                            return {
                                                valid: false,
                                            }
                                    }
                                    else {
                                        return {
                                                valid: true
                                            }
                                    }
                                }
                                else{
                                    return {
                                                valid: true
                                            }
                                }
                            }
                        }
                    }
                },
                end_date: {
                    validators: {
                        notEmpty: {
                            message: 'The end date is required and cannot be empty'
                        },

                        date: {
                            format: 'DD/MM/YYYY',
                            message: 'The value is not a valid date',
                            min: 'start_date'

                        }
                    }
                },
                endDateEndTime: {
                    validators: {
                        notEmpty: {
                            message: 'The end time is required and cannot be empty'
                        },
                        callback: {
                            message: "Leave cannot start and finish at the same time on the same day.",
                            callback: function (value, validator, $field) {

                                var endDateTime = $("#endDateEndTime").val();
                                var startDateTime = $("#startDateStartTime").val();

                                var start_date = ($("#start_date").val());
                                var end_date = ($("#end_date").val());

                                var momentDate = moment(start_date, 'DD/MM/YYYY');
                                var momentDate1 = moment(end_date, 'DD/MM/YYYY');

                                startDate = new Date(momentDate);
                                endDate = new Date(momentDate1);

                                console.log("Start Date: " + startDate);
                                console.log("End Date: " + endDate);
                                console.log(startDate.valueOf() == endDate.valueOf());

                                if (startDate.valueOf() === endDate.valueOf()) {
                                    if(endDateTime == "Lunchtime" && startDateTime == "Lunchtime"){
                                            return false;
                                    }
                                    else{
                                        return true;
                                    }

                                } else {
                                   return true;
                                }
                            }
                        }
                    }
                },
                leaveReason: {
                    validators: {
                        stringLength: {
                            max: 300,
                            message: 'The Reason must be less than 300 characters long'
                        }
                    }
                },
                leaveType: {
                    validators: {
                        notEmpty: {
                            message: 'The type of leave is required and cannot be empty'
                        },
                        stringLength: {
                            max: 70,
                            message: 'The leave type must be less than 70 characters long'
                        }
                    }
                },
                optradio: {
                    validators: {
                        notEmpty: {
                            message: 'The content is required and cannot be empty'
                        },
                    }
                },
            },

        })
        .on('success.form.fv', function(e, data) {

            var $form        = $(e.target),
                validator    = $form.data('formValidation'),
                submitButton = validator.getSubmitButton()

            validator.disableSubmitButtons(true);

            sendLeaveRequest();

            validator.resetForm();
            validator.disableSubmitButtons(true);

        })
        .on('err.form.fv', function(e, data) {
        });
    }

    // Each time a key is pressed, revalidate the Leave Request Form

    $('#eventForm input').on('keyup blur', function () { // fires on every keyup & blur          // checks form for validity
        $('submitButton').prop('disabled', false);        // enables button
        $('#eventForm')
           .formValidation('revalidateField', 'start_date')
           .formValidation('revalidateField', 'end_date')
           .formValidation('revalidateField', 'endDateEndTime')
           .formValidation('revalidateField', 'startDateStartTime');
        });

    // Get informaton from the Leave Request form and submit this to the server
	function sendLeaveRequest(){

        var leaveType = document.getElementById("leaveType").value;
        var start_date = document.getElementById("start_date").value;
        var end_date = document.getElementById("end_date").value;
        var start_date_start_time = document.getElementById("startDateStartTime").value;
        var end_date_start_time = document.getElementById("endDateEndTime").value;
        var leave_reason = document.getElementById("leaveReason").value;
        var approval_type = $('input[name="optradio"]:checked').val();

        $.ajax({
                type: "POST",
                url: "/dashboard/submitrequest/",
                async: true,
                data: {
                    leaveType: leaveType,
                    start_date: start_date,
                    end_date: end_date,
                    start_date_start_time: start_date_start_time,
                    end_date_start_time: end_date_start_time,
                    leave_reason: leave_reason,
                    approval_type: approval_type
                },

                beforeSend: function(data){
                    $('#requestLeaveModal').modal('hide');
                    $.loader.open();
                },

                success: function(data){

                        if(data[0] == "unsucessful"){
                            $('#requestLeaveModal').modal('hide');
                            $('#postSubmissionModalUnsuccessful').modal('show');

                            var reasonValue =  document.getElementById("ReasonValue");
                            reasonValue.innerHTML = data[1];

                            $.loader.close();
                        }
                        else {
                            $('#requestLeaveModal').modal('hide');
                            $('#postSubmissionModal').modal('show');

                            var leaveTypeValue =  document.getElementById("LeaveTypeValue");
                            leaveTypeValue.innerHTML = leaveType;

                            var startDateValue =  document.getElementById("startDateValue");
                            startDateValue.innerHTML = start_date;

                            var endDateValue =  document.getElementById("endDateValue");
                            endDateValue.innerHTML = end_date;

                            var startTimeValue =  document.getElementById("startTimeValue");
                            startTimeValue.innerHTML = start_date_start_time;

                            var endTimeValue =  document.getElementById("endTimeValue");
                            endTimeValue.innerHTML = end_date_start_time;

                            var leaveReasonValue =  document.getElementById("leaveReasonValue");
                            leaveReasonValue.innerHTML = leave_reason;

                            $('#personalRequestsTable tr:gt(0)').remove()

                            $.loader.close();

                            getUserRequestsAjax();
                        }
                },

                failure: function(response, opts) {
                    console.log('server-side failure: ' + response);
                },
        });

    }
</script>
{% endblock %}
