@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Lato:700);


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    height:28px !important;
}

.navbar .navbar-collapse {
    text-align: center;
    padding-right: 5px;
}

body {
        background-color: rgb(59, 83, 152);;
        font-family: 'Titillium Web', sans-serif;
        padding-top: 80px
     }

a[class="dropdown-toggle"] {
    height: 42px;
    margin-top: 10px;
    float: none;
    display: inline-block;
}

.navbar-brand,
.navbar-nav li a {
    height: 80px;
    padding-top: 0px;
    float: none;
    display: inline-block;
}
.navbar-nav li h3 {
    line-height: 20px;
    height: 30px;
    padding-top: 10px;
    float: none;
    display: inline-block;
}

.navbar-brand{
    max-width: 100px;
}

.glyphicon.glyphicon-user{
    color: rgb(127, 127, 127);
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#bradford_factor_explanation_text{
    color:white;
}

#login_content {
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
#dashboard_name{
    color: white;
}
.navbar-fixed-bottom p {
    line-height: 12px;
    height: 12px;
    padding-top: 9px;
}
#container_padding {
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#dashboard_container_one {
    border-style: none;
    background-color: rgb(255, 153, 0);
    color: white;
}

#dashboard_container_two  {
    border-style: none;
    background-color: rgb(127, 140, 141);
    color: white;
}
#user_text{
    color: rgb(127, 127, 127);
}

#calendar_container_two, #dashboard_container_calendar {
    border-style: none;
    background-color: rgb(255, 0, 102);
    color: white;
    padding-bottom: 20px;
}
.progress-bar[aria-valuenow="0"] {
  color: black;
  min-width: 0%;
  background: "transparent";
  box-shadow: none;
}
h1,h2{
    font-family: 'Titillium Web','sans-serif';
}

.number-container{

    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;

}

.form-control {
    box-shadow: 0 1px 3px #999 inset;
    border: 0;
    line-height: 28px;
    padding: 6px 8px;
    box-sizing: border-box;
}
.inner-div{
   padding: 5px;
 }

.fc-today {
     background-color: rgb(255, 84, 149) !important;
     border-style: solid;
     border-color: 'white';
 }

 #nav_logo {
     padding-top: 4px;
     padding-left: 2px;
     text-decoration:none;
 }

 #container_padding {
     margin-top: 4px;
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 10px;
 }

#footer {
  width: 100%;
  background-color: #f5f5f5;
  height: 60px;
  padding-top: 20px;
}
#footer_login {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}
#push {
  height: 60px;
}

.text-muted{
    padding-top: 20px 0;
}

#page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
#logo_text {
    padding-top:0;
    padding-bottom:0;
    margin: 0px;
    color: rgb(127,127,127);
}

#logo_text :hover
{
  text-decoration:none;
}

.modal{
    position: absolute;
}
.modal-body {
    overflow-y:visible;
}

#postSubmissionModal {
    position: absolute;

}

td{
  text-align: center
}

.button-padding{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.button-padding-table{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.button-padding-approve-leave{
    margin-right: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.rectangle-approved {
   background: green;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border-radius: 0px;
   margin-left: 0px !important;
   border: none;
   height: 20px;
   width:100%;

 }
 .rectangle-declined {
   background: #ED1317;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border-radius: 0px;
   margin-left: 0px !important;
   border: none;
   height: 20px;
   width:100%;

 }
 .rectangle-pending {
   background: rgba(65, 150, 65, 0.3);
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border-radius: 0px;
   margin-left: 0px !important;
   border: none;
   height: 20px;
   width:100%;

 }

@media (max-width: 480px) {

body, #footer, #calendar_container_two, {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
    }

.modal{
    position: fixed;
    }
}

html, body {

  height: 100%;
}

hr {
    height: 2px;
    background-color:rgb(255, 0, 102);;
    color:rgb(255, 0, 102);;
    border: 0 none;
    width: 80%;
}

.fc-event{
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .modal{
    position: fixed;
    }

    .navbar .navbar-collapse {
        max-width: 100%;
    }
    .navbar-brand {
        text-align: center;
    }
    #footer, #calendar_container_two {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
    }
}


