<!DOCTYPE html>
{% extends "base_file.html" %}
{% block title %}LeaveCal - Calendar{% endblock %}

    {% block head_elements %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}/fullcalendar.css">
    <script src="{% get_static_prefix %}/moment.min.js"></script>
    <script src="{% get_static_prefix %}/fullcalendar.js"></script>

    {% endblock head_elements %}

    {% block calendar_active %}active{% endblock %}
    {% block username_to_display %}{{ username }}{% endblock %}


{% block content %}

     <div class="row">
            <div class="col-xs-12">
                <h1 id="login_content" name="request_leave_title" align="center">CALENDAR</h1>
            </div>
        </div>

     <div class="container col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1" id="calendar_container_one">
        <div class="row">
            <div class="panel panel-default" id="calendar_container_two">
                <div class="col-xs-6 text-left">
                    <div align="left" class="button-padding">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#calendarKey" align="left">
                            Key
                        </button>
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <div align="right" class="button-padding">
                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#requestLeaveModal" align="right">
                            Request Leave
                        </button>
                    </div>
                </div>
                <div id="container_padding">
                     <div id='calendar'>
                     </div>
                </div>
            </div>
        </div>
     </div>

{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

	    $.loader.open();

        initialiseCalendar();
		getCalendarEvents();

		getValidators();


	});

	function initialiseCalendar(){

	    $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: false,
			eventLimit: true,
			firstDay: 1,
			eventClick: function(calEvent, jsEvent, view) {
			    $("#eventLeaveTypeValue").html(calEvent.leaveType);
			    $("#eventStartDateValue").html(calEvent.startDateString);
			    $("#eventStartTimeValue").html(calEvent.startTime);
			    $("#eventEndDateValue").html(calEvent.endDateString);
			    $("#eventEndTimeValue").html(calEvent.endTime);
			    $("#eventStatusValue").html(calEvent.leaveStatus);
			    $("#eventReasonValue").html(calEvent.leaveReason);
			    $('#eventDetailModal').modal('show');
            }
		});
	}

	function getCalendarEvents(){

	    $('#calendar').fullCalendar('removeEvents');

        $.ajax({
            type: "GET",
            url: "/calendar/getevents/",
            success: function(data){
                $.each(data, function(i, event_detail){

                    var start_date_test = "";
                    var end_date_test = "";
                    var all_day = "true";
                    var start_date_month = "";
                    var start_date_year = "";
                    var start_date_day = "";
                    var start_date_time;
                    var leave_type;

                    var leave_type = event_detail["title"];
                    var start_date = event_detail["start_date"];
                    var end_date = event_detail["end_date"];
                    var start_time = event_detail["start_time"];
                    var end_time = event_detail["end_time"];
                    var leave_status = event_detail["leave_status"];
                    var leave_reason = event_detail["leave_reason"];
                    var fontColour = 'rgba(0, 0, 0)';

                    start_date_string = new Date(start_date)
                    start_date_string = start_date_string.toString("dd/MM/yyyy");

                    end_date_string = new Date(end_date)
                    end_date_string = end_date_string.toString("dd/MM/yyyy");

                    var semiTransparentGreen = 'rgba(65, 150, 65, 0.3)';
                    var semiTransparentWhite = 'rgba(255, 255, 255, 0.4)';

                    if (start_time == "Lunchtime"){

                        all_day = false;
                        start_date_test = $.fullCalendar.moment(start_date.concat(' 13:00'));
                        }else{
                            start_date_test = start_date;
                    }

                    if (end_time == "Lunchtime"){
                        all_day = false;
                        end_date_test = $.fullCalendar.moment(end_date.concat(' 13:00'));
                    }else{
                        end_date_test = end_date;
                    }

                    var backgroundColourOfEvent = "";

                    if(leave_status == "Approved"){
                        backgroundColourOfEvent = 'green';
                    }
                    else if(leave_status == "Declined"){
                        backgroundColourOfEvent = '#ED1317';
                    }
                    else if(leave_status == "Pending"){
                        backgroundColourOfEvent = semiTransparentGreen;
                        fontColour = semiTransparentWhite;
                    }

                    var myEvent = {
                          title:leave_type.concat(" - ").concat(start_date).concat(" to ").concat(end_date),
                          allDay: all_day,
                          start: start_date_test,
                          end: end_date_test,
                          backgroundColor: backgroundColourOfEvent,
                          eventColor: backgroundColourOfEvent,
                          borderColor: backgroundColourOfEvent,
                          textColor: fontColour,
                          leaveReason: leave_reason,
                          leaveStatus: leave_status,
                          endTime: end_time,
                          startTime: start_time,
                          leaveType: leave_type,
                          startDateString: start_date_string,
                          endDateString: end_date_string
                        };

                    $('#calendar').fullCalendar( 'renderEvent', myEvent, true );
                });

            },
            complete : function (){
                $.loader.close();
            }
        });

	}

	function getValidators(){
        $('#eventForm').formValidation({
            framework: 'bootstrap',
            button: {
                selector: '#submitButton',
            },
            container: '#messages',
            live: 'enabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                start_date: {
                    validators: {
                        notEmpty: {
                            message: 'The start date is required and cannot be empty'
                        },

                        date: {
                            format: 'DD/MM/YYYY',
                            message: 'The value is not a valid date',
                            max: 'end_date'
                        },

                    }
                },
                startDateStartTime: {
                    validators: {
                        notEmpty: {
                            message: 'The start time is required and cannot be empty'
                        },
                        callback: {
                            callback: function (value, validator, $field) {

                                var startDate = $("#start_date").val();
                                var endDate = $("#end_date").val();
                                var endDateTime = $("#endDateEndTime").val();
                                var startDateTime = $("#startDateStartTime").val();

                                startDate = new Date(startDate);
                                endDate = new Date(endDate);

                                if (startDate == endDate){
                                    if(endDateTime == "Lunchtime" && startDateTime == "Lunchtime"){
                                            return {
                                                valid: false,
                                            }
                                    }
                                    else {
                                        return {
                                                valid: true
                                            }
                                    }
                                }
                                else{
                                    return {
                                                valid: true
                                            }
                                }
                            }
                        }
                    }
                },
                end_date: {
                    validators: {
                        notEmpty: {
                            message: 'The end date is required and cannot be empty'
                        },

                        date: {
                            format: 'DD/MM/YYYY',
                            message: 'The value is not a valid date',
                            min: 'start_date'

                        }
                    }
                },
                endDateEndTime: {
                    validators: {
                        notEmpty: {
                            message: 'The end time is required and cannot be empty'
                        },
                        callback: {
                            message: "Leave cannot start and finish at the same time on the same day.",
                            callback: function (value, validator, $field) {

                                var endDateTime = $("#endDateEndTime").val();
                                var startDateTime = $("#startDateStartTime").val();

                                var start_date = ($("#start_date").val());
                                var end_date = ($("#end_date").val());

                                var momentDate = moment(start_date, 'DD/MM/YYYY');
                                var momentDate1 = moment(end_date, 'DD/MM/YYYY');

                                startDate = new Date(momentDate);
                                endDate = new Date(momentDate1);

                                console.log("Start Date: " + startDate);
                                console.log("End Date: " + endDate);
                                console.log(startDate.valueOf() == endDate.valueOf());

                                if (startDate.valueOf() === endDate.valueOf()) {
                                    if(endDateTime == "Lunchtime" && startDateTime == "Lunchtime"){
                                            return false;
                                    }
                                    else{
                                        return true;
                                    }

                                } else {
                                   return true;
                                }
                            }
                        }
                    }
                },
                leaveReason: {
                    validators: {
                        stringLength: {
                            max: 300,
                            message: 'The Reason must be less than 300 characters long'
                        }
                    }
                },
                leaveType: {
                    validators: {
                        notEmpty: {
                            message: 'The type of leave is required and cannot be empty'
                        },
                        stringLength: {
                            max: 70,
                            message: 'The leave type must be less than 70 characters long'
                        }
                    }
                },
                optradio: {
                    validators: {
                        notEmpty: {
                            message: 'The content is required and cannot be empty'
                        },
                    }
                },
            },

        })
        .on('success.form.fv', function(e, data) {

            var $form        = $(e.target),
                validator    = $form.data('formValidation'),
                submitButton = validator.getSubmitButton()

            validator.disableSubmitButtons(true);

            sendLeaveRequest();
            validator.resetForm();
            validator.disableSubmitButtons(true);

        })
        .on('err.form.fv', function(e, data) {
        });
    }

       $('#eventForm input').on('keyup blur', function () { // fires on every keyup & blur          // checks form for validity
                $('submitButton').prop('disabled', false);        // enables button
              $('#eventForm')
                .formValidation('revalidateField', 'start_date')
               .formValidation('revalidateField', 'end_date')
                .formValidation('revalidateField', 'endDateEndTime')
                .formValidation('revalidateField', 'startDateStartTime');
        });

	function sendLeaveRequest(){

        var leaveType = document.getElementById("leaveType").value;
        var start_date = document.getElementById("start_date").value;
        var end_date = document.getElementById("end_date").value;
        var start_date_start_time = document.getElementById("startDateStartTime").value;
        var end_date_start_time = document.getElementById("endDateEndTime").value;
        var leave_reason = document.getElementById("leaveReason").value;
        var approval_type = $('input[name="optradio"]:checked').val();

        $.ajax({
                type: "POST",
                url: "/dashboard/submitrequest/",
                async: true,
                data: {
                    leaveType: leaveType,
                    start_date: start_date,
                    end_date: end_date,
                    start_date_start_time: start_date_start_time,
                    end_date_start_time: end_date_start_time,
                    leave_reason: leave_reason,
                    approval_type: approval_type
                },

                beforeSend: function(data){
                    $('#requestLeaveModal').modal('hide');
                    $.loader.open();
                },

                success: function(data){

                        if(data[0] == "unsucessful"){
                            $('#requestLeaveModal').modal('hide');
                            $('#postSubmissionModalUnsuccessful').modal('show');

                            var reasonValue =  document.getElementById("ReasonValue");
                            reasonValue.innerHTML = data[1];

                            $.loader.close();
                        }
                        else {
                            $('#requestLeaveModal').modal('hide');
                            $('#postSubmissionModal').modal('show');

                            var leaveTypeValue =  document.getElementById("LeaveTypeValue");
                            leaveTypeValue.innerHTML = leaveType;

                            var startDateValue =  document.getElementById("startDateValue");
                            startDateValue.innerHTML = start_date;

                            var endDateValue =  document.getElementById("endDateValue");
                            endDateValue.innerHTML = end_date;

                            var startTimeValue =  document.getElementById("startTimeValue");
                            startTimeValue.innerHTML = start_date_start_time;

                            var endTimeValue =  document.getElementById("endTimeValue");
                            endTimeValue.innerHTML = end_date_start_time;

                            var leaveReasonValue =  document.getElementById("leaveReasonValue");
                            leaveReasonValue.innerHTML = leave_reason;

                            $.loader.close();

                            $.loader.open();

                            getCalendarEvents();
                        }
                },

                failure: function(response, opts) {
                    console.log('server-side failure: ' + response);
                },
        });

    }
</script>

{% endblock %}